html {
  color: #fff;
  background: linear-gradient(0deg, hsl(300deg 100% 9%), hsl(229deg 93% 11%));
}
body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

#root {
  overflow: auto;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#walletconnect-wrapper {
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Audiowide";
}
h2 {
  font-size: 28px;
  text-shadow: 0 0 5px #fff, 0 0 2px #fff, 0 0 1px #fff, 0 0 1px #f90,
    0 0 4px #f8c, 0 0 0px #f90, 0 0 0px #f90, 0 0 0px #f90;
  letter-spacing: 2px;
  line-height: 1.1;
  margin-bottom: 24px;
  text-align: center;
  font-weight: normal;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: hsl(46deg 91% 49% / 90%);
}
